body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#video {
    width: 70%;
    border: 2px solid black;
}
